<div class="container items">
    {% for item in items %}
        {{ include('PmaContentBundle:Layout:list.right-left.item.html.twig', {'item': item, 'index': loop.index}) }}
        <hr/>
    {% endfor %}
</div> 