{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        {% for service in services %}
            {{ service|raw }}
            <hr/>
        {% endfor %}
    </div> 
{% endblock %}