{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        {% for item in items %}
            {{ item|raw }}
            <hr/>
        {% endfor %}
    </div> 
{% endblock %}