<div id="test" class="carousel carousel-main slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
        
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for item in items %}
        <div class="item active">
            <img src="{{ asset(item.image) }}" alt="">
            <div class="carousel-caption"></div>
        </div>
        {% endfor %}
    </div>
</div>