#navbar-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
    z-index: 1;
}

#carousel-main {
    height: 500px;
}

#carousel-main .item {
    height: 500px;
}

.service .title {
    margin-top: 120px;
    font-size: 40px;
}

.service .description {
    font-size: 18px;
}