{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-lg-4">
            <h2>Photo</h2>
            <p>La photo, c'est bien.</p>
            <a class="btn btn-default">En savoir plus</a>
        </div>
        <div class="col-lg-4">
            <h2>Vidéo</h2>
            <p>La vidéo, c'est bien.</p>
            <a class="btn btn-default">En savoir plus</a>
        </div>
        <div class="col-lg-4">
            <h2>Internet</h2>
            <p>Internet, c'est bien.</p>
            <a class="btn btn-default">En savoir plus</a>
        </div>
    </div>
{% endblock %}